@import url(https://fonts.google.com/specimen/Pacifico);

body {
    width: 30vw;
    background-color: rgb(192,192,192);
    color: rgb(112,128,144);
    font-size: 30px;
    font-family: 'Pacifico' cursive;
    font-weight: bold;
}

#loader {
    margin-top: center;
    margin-left: center;
    margin-right: center;
    align-items: center;
}

#prevlink {
    font-size: 20px;
    text-align: left;
}

#link {
    font-size: 20px;
    text-align: right;
}

#loader span {
    position: relative;
}

#loader span {
    position:relative;
    font-size: 50px;
    text-transform: uppercase;
    display: inline-block;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-50px);
    }
}