body {
    width: 60vw;
    background-color: rgb(192,192,192);
    color: rgb(112,128,144);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

div {
    width: 20%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#prevlink {
    font-size: 20px;
    text-align: left;
}

#link {
    font-size: 20px;
    text-align: right;
}

#loader span {
    position: relative;
}

#loader span {
    position:relative;
    font-size: 50px;
    text-transform: uppercase;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-50px);
    }
}