body {
    width: 70vw;
    background-color: rgb(155,190,200);
    color: #164863;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#link {
    font-size: 20px;
    text-align: right;
}

#thick {
    font-size: 500px;
    font-weight: bold;
    color: rgb(2,41,84);
}

#thin {
    font-weight: lighter;
    color: rgb(221,242,253);
}

#text {
    animation: slidein 2s;
}

@keyframes slidein {
    from {
        transform: translateX(-500px);
    }

    to {
        transform: translateX(0);
    }
}

#thick {
    animation: thick 3s;
}

@keyframes thick {
    from {
        scale: 100%;
    }

    to {
        scale: 150%;
    }
}