body {
    width: 100vw;
    background-color: rgb(155,190,200);
    color: #164863;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

#prevlink {
    font-size: 30px;
    text-align: left;
}

#link {
    font-size: 30px;
    text-align: right;
}

#thick {
    font-size: 200px;
}

#thin {
    font-weight: 50;
}

#text {
    animation: slidein 2s;
}

@keyframes slidein {
    from {
        transform: translateX(-300px);
    }

    to {
        transform: translateX(0);
    }
}