h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100;
    font-style: bold;
    color:rgb(79, 111, 82);
}
h2 {
    font-size: 50;
    color: rgb(191, 216, 175);
}