h1{
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(193,193,243)
}

body{
    background-color: rgb(253,253,150);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#lineOne{
    color:rgb(255,161,156);
    font-size: 50px;
}

#lineTwo{
    font-size: 60px;
    color: rgb(255,161,156);
    background-color: rgb(255,161,156)
}
#lineThree{
    font-size: 90px;
    background-color: rgb(193,193,243);
    color: rgb(255,161,156)
}
#lineFour{
    font-size: 70px;
    color: rgb(193,193,243);
    background-color: rgb(255,195,110);
}
#lineFive{
    font-size: 60px;
    color: rgb(255,161,156)
    background-color: rgb(255,161,156)
}
#lineSix{
    font-size: 50px;
    color: rgb(255,161,156)
}