h1 {
font-family: 'Nabla', serif;
font-size: 100px;
}

body{
    background-color: (253,253,150)
}

#lineOne{
    color:(255,161,156);
}

#lineTwo{
    font-size: 60px;
}
#lineThree{
    font-family: 'Gelasio', serif;
    font-size: 90px;
    background-color:(193,193,243);
}